a.out
*.out
*.o
out*.txt
*result*.txt
*tmp*.*
*.tar
*.tgz
core
*X.txt
*.cast
*.zip
sample*.txt
error.txt
testdir
nogit*.txt
ngdebug*.txt
./python/
testcase/
testcase
hpp
*cpp-dump*
lib/debug/cpp-dump
